@{
	Layout = "Public.cshtml";
	Model.NavMenu.NavSectionsMenuLeft[0].IsActive = "active";
}

<!-- Bloc: FlexSlider -->
<div class="block slider-block">
	@Html.Partial("Public/Blocs/FlexSlider.cshtml", Model)
</div><!--/bloc-->

@*<!-- Bloc: Actualités -->
<div id="news" class="row-fluid">
	@Html.Partial("Public/Blocs/News.cshtml", Model)
</div><!--/bloc-->*@

@section Footer {
	$(".flexslider").flexslider({
	    animation: "fade",
	    directionNav: true,
	    pauseOnAction: true,
	    pauseOnHover: false,
	    slideshowSpeed: 4000
	});
}