<div id="content-header">
	<h1 data-bind="visible: pages.isAdding">Nouvelle page</h1>
	<h1 data-bind="invisible: pages.isAdding">Modification de la page</h1>
</div>

<div class="breadcrumb">
	<a href="#" navigation-section="Home" class="tip-bottom" data-original-title="Retourner à l'accueil"><i class="icon-home"></i> Accueil</a>
	<a href="#" navigation-section="Pages">Pages</a>
	<a href="#" class="current">
		<span data-bind="visible: pages.isAdding">Nouvelle page</span>
		<span data-bind="invisible: pages.isAdding">Modification de la page</span>
	</a>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form id="page-form-edition" name="page-form" class="form-edition form-horizontal" data-bind="with: pages.editedItem">
				<input type="hidden" name="id" data-bind="value: id" />
				<fieldset>
					<legend class="ui-helper-hidden">Titre, Modèle et Tags</legend>
					
					<input name="creationDate" type="hidden" data-bind="value: creationDate.formatted" />
					<input name="modificationDate" type="hidden" data-bind="value: modificationDate.formatted" />
					
					<div class="control-group">
						<label class="control-label" for="title">Titre</label>
						<div class="controls">
							<input class="span10 input-xlarge" name="title" placeholder="Titre de l'article" required="required" maxlength="256" type="text" data-bind="value: title" />
							<span class="help-block ui-priority-secondary">Par défaut, ce titre sera également utilisé pour le référencement.</span>
						</div>
					</div>
					
					<div class="control-group alternate">
						<label class="control-label" for="pageTemplate">Modèle de page*</label>
						<div class="controls">
							<select class="input-xlarge" name="pageTemplate" data-bind="options: $root.pages.pageTemplate, optionsText: 'text', optionsValue: 'value', value: pageTemplate">
							</select>
						</div>
					</div>
					
				    <div class="control-group">
				      <label class="control-label" for="tags">Mots clés</label>
						<div class="controls">
							<input type="text" name="tags" class="span10 tags" data-bind="jqTags: { tags: tags }">
					      	<span class="help-block ui-priority-secondary">Entrez vos mot clé en les validant avec <b>Entrée</b>. Par défaut, ces mots clés seront également utilisés pour le référencement.</span>
						</div>
				    </div>
				</fieldset>
				
				<fieldset>
					<div class="control-group">
						<legend class="ui-helper-hidden">Contenu</legend>
						<div class="controls" style="margin: 0 15px;">
							<textarea class="span10 rich-content input-xlarge notPlaceholder" name="content" placeholder="Contenu de l'article" required="required" data-bind="value: content"></textarea>
						</div>
					</div>
				</fieldset>
				
				<fieldset>
					<legend class="ui-helper-hidden">SEO</legend>
					
					<div class="control-group">
						<label class="control-label" for="seotitle">URL Simplifiée</label>
						<div class="controls">
							<input class="span10 input-xlarge notPlaceholder" name="friendlyUrl" placeholder="URL simplifiée (exemple: titre-de-la-page)" maxlength="256" type="text" data-bind="value: friendlyUrl"/>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="seotitle">Titre SEO</label>
						<div class="controls">
							<input class="span10 input-xlarge notPlaceholder" name="seotitle" placeholder="Titre de l'article" maxlength="256" type="text" data-bind="value: seoTitle"/>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="seodescription">Extrait SEO</label>
						<div class="controls">
							<textarea class="span10 input-xlarge notPlaceholder" name="seodescription" placeholder="Description de l'article" maxlength="512" type="text" data-bind="value: seoDescription"></textarea>
						</div>
					</div>
					
					<div class="control-group">
					  <label class="control-label" for="seokeywords">Mots clés SEO</label>
						<div class="controls">
							<input type="text" name="seokeywords" class="span10 tags" data-bind="jqTags: { tags: seoKeywords }">
					      	<span class="help-block ui-priority-secondary">Entrez vos mot clé en les validant avec <b>Entrée</b>.</span>
						</div>
				    </div>
				</fieldset>
			</form>
		</div>
	</div>
</div>