@{ 
	Layout = "Public.cshtml";
	Model.HtmlTitle = "Suggestions";
}

<div id="suggestions-page" style="padding: 30px 0;">

	<h1 class="suggestions-title" style="margin-bottom: 20px;">Suggestions</h1>
	
	<div id="main-area">
		<div id="main-tabs">
			<ul id="main-tabbed-area" class="clearfix">
				<li class="active"><a href="#"><span>Récent</span></a><span class="arrow"></span></li>
				<!--<li><a href="#"><span>Popular</span></a><span class="arrow"></span></li>-->
				<li><a href="#"><span>Sans réponse</span></a><span class="arrow"></span></li>
				<li><a href="#"><span>Aléatoire</span></a><span class="arrow"></span></li>
			</ul>
		</div> <!-- end #main-tabs -->

		<div id="main-recent">
	
			@foreach(var item in Model.Suggestions.Items) {
			<div class="entry">
				<div class="entry-top">
					<div class="entry-content">
						<span class="comment-number"><a href="#">1</a></span>
						<h2 class="title"><a href="#">@item.Title</a></h2>
						<span class="quote"></span>
						<span class="author">- <a href="#" title="Suggestions de 'auteur'" rel="author">'auteur'</a></span>				
						<div class="clear"></div>
							<div class="tags">
								<a href="#"><span>'tag 1'</span></a>
						</div> <!-- end .tags -->
					</div>
				</div>
			</div>
			}
		</div>
	</div>
	
	<div id="sidebar">
	<div id="sidebar-bottom">
		<div id="sidebar-content">
			<div class="widget-button">
	<a href="#" id="call_to_action"><span>Submit a Question</span></a>
</div>

<div id="tabbed" class="sidebar-block ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul id="tabbed-area" class="clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="first ui-corner-top ui-tabs-selected ui-state-active"><a href="#recent-tabbed">Recent</a></li>
		<li class="second ui-corner-top ui-state-default"><a href="#popular-tabbed">Popular</a></li>
		<li class="last ui-corner-top ui-state-default"><a href="#random-tabbed">Random</a></li>
	</ul>

	<div id="recent-tabbed" class="widget-content ui-tabs-panel ui-widget-content ui-corner-bottom" style="">
		<ul style="list-style-type: none;">
			<li class="clearfix">
				<span class="title"><a href="#">오.. 특이한 테마인데, 어떻게 하면 워드프레스 테...</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by ing4you" rel="author">ing4you</a> on Jul 29, 2013</p>
				<span class="widget-comment-number widget-unanswered">0</span>
			</li>
			<li class="clearfix">
				<span class="title"><a href="#">Giải Bài Tập Nhanh Ở Đâu?...</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by nguyen dai" rel="author">nguyen dai</a> on Jul 28, 2013</p>
				<span class="widget-comment-number">1</span>
			</li>
			<li class="clearfix">
				<span class="title"><a href="##">isn't logging into admi...</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by satheeshkumarmv" rel="author">satheeshkumarmv</a> on Jul 28, 2013</p>
				<span class="widget-comment-number">1</span>
			</li>
			<li class="clearfix">
				<span class="title"><a href="#">R-SIM8 can unlock iOS7 ?</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by miliky" rel="author">miliky</a> on Jul 28, 2013</p>
				<span class="widget-comment-number widget-unanswered">0</span>
			</li>
		</ul>
	</div> <!-- end #recent-tabbed -->

	<div id="popular-tabbed" class="widget-content ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" style="">
		<ul style="list-style-type: none;">
			<li class="clearfix">
				<span class="title"><a href="#">Are Mac computers better for...</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by Nick Roach" rel="author">Nick Roach</a> on Nov 17, 2010</p>
				<span class="widget-comment-number">9</span>
			</li>
			<li class="clearfix">
				<span class="title"><a href="#">Học thiết kế web ở đâu...</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by vinh" rel="author">vinh</a> on Jul 17, 2013</p>
				<span class="widget-comment-number">6</span>
			</li>
			<li class="clearfix">
				<span class="title"><a href="#">What is the best WordPress e...</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by Nick Roach" rel="author">Nick Roach</a> on Nov 17, 2010</p>
				<span class="widget-comment-number">5</span>
			</li>
			<li class="clearfix">
				<span class="title"><a href="#">What is the best way to crea...</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by Nick Roach" rel="author">Nick Roach</a> on Nov 17, 2010</p>
				<span class="widget-comment-number">5</span>
			</li>
		</ul>
	</div> <!-- end #recent-tabbed -->

	<div id="random-tabbed" class="widget-content ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" style="">
		<ul style="list-style-type: none;">
			<li class="clearfix">
				<span class="title"><a href="#">Outro teste novamente (:</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by Renata" rel="author">Renata</a> on May 22, 2013</p>
				<span class="widget-comment-number">2</span>
			</li>
			<li class="clearfix">
				<span class="title"><a href="#">What’s the benefit of ...</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by Nick Roach" rel="author">Nick Roach</a> on Nov 17, 2010</p>
				<span class="widget-comment-number">5</span>
			</li>
			<li class="clearfix">
				<span class="title"><a href="#">Báo giá in catalog ở đâu?...</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by vinh" rel="author">vinh</a> on Jul 17, 2013</p>
				<span class="widget-comment-number widget-unanswered">0</span>
			</li>
			<li class="clearfix">
				<span class="title"><a href="#">Why cancer is a disease?</a></span>
				<p class="post-info">Posted by <a href="#" title="Posts by pedroabiu" rel="author">pedroabiu</a> on Jun 7, 2013</p>
				<span class="widget-comment-number widget-unanswered">0</span>
			</li>
		</ul>
	</div> <!-- end #recent-tabbed -->
</div> <!-- end .sidebar-block-->

<div id="archives-3" class="widget widget_archive"><h4 class="widgettitle">Archives</h4><div class="widget-content">
	<ul style="list-style-type: none;">
		<li><a href="#" title="July 2013">July 2013</a></li>
		<li><a href="#" title="June 2013">June 2013</a></li>
		<li><a href="#" title="May 2013">May 2013</a></li>
		<li><a href="#" title="April 2013">April 2013</a></li>
		<li><a href="#" title="March 2013">March 2013</a></li>
		<li><a href="#" title="November 2010">November 2010</a></li>
	</ul>
</div>
</div><!-- end .widget -->
<div id="categories-3" class="widget widget_categories"><h4 class="widgettitle">Categories</h4><div class="widget-content">
	<ul style="list-style-type: none;">
	<li class="cat-item cat-item-8"><a href="#" title="View all posts filed under Arts and Crafts">Arts and Crafts</a>
</li>
	<li class="cat-item cat-item-5"><a href="#" title="View all posts filed under Environment">Environment</a>
</li>
	<li class="cat-item cat-item-7"><a href="#" title="View all posts filed under Gardening">Gardening</a>
</li>
	<li class="cat-item cat-item-4"><a href="#" title="View all posts filed under Politics">Politics</a>
</li>
	<li class="cat-item cat-item-3"><a href="#" title="View all posts filed under Technology">Technology</a>
</li>
	<li class="cat-item cat-item-1"><a href="#" title="View all posts filed under Uncategorized">Uncategorized</a>
</li>
	<li class="cat-item cat-item-6"><a href="#" title="View all posts filed under Web Development">Web Development</a>
</li>
	<li class="cat-item cat-item-9"><a href="#" title="View all posts filed under WordPress">WordPress</a>
</li>
		</ul>
</div></div><!-- end .widget -->
<div id="meta-3" class="widget widget_meta"><h4 class="widgettitle">Meta</h4>
	<div class="widget-content">
		<ul style="list-style-type: none;">
			<li><a href="#">Register</a></li>
			<li><a href="#">Log in</a></li>
			<li><a href="#" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="#" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
		</ul>
	</div>
			</div><!-- end .widget -->
		</div> <!-- end #sidebar-content -->
	</div> <!-- end #sidebar-bottom -->
</div>
	
</div>

@section Footer {	
	$('.hasPopOver').popover({ 
		container: 'p',
		placement: 'top', 
		trigger: 'hover'
	});
}