@{
	Layout = "Public.cshtml";
	Model.HtmlTitle = "Erreur 404 - Page Introuvable";
}


<div class="page-content">
	<h1 class="title">Page introuvable</h1>
	
	<p>Erreur 404: la page n'a pas été trouvée.</p>
	
</div>