<div class="flexslider">
  <ul class="slides">
	<li data-href="#">
		<img src="/Resources/images/slide1.jpg" />
		<p class="flex-caption">Description du slide.</p>
	</li>
	<li data-href="#">
		<img src="/Resources/images/slide1.jpg" />
		<p class="flex-caption">Description du slide.</p>
	</li>
  </ul>
</div>