<div id="content-header">
	<h1 data-bind="visible: suggestion.isAdding">Nouvelle suggestion</h1>
	<h1 data-bind="invisible: suggestion.isAdding">Modification de la suggestion</h1>
</div>

<div class="breadcrumb">
	<a href="#" navigation-section="Home" class="tip-bottom" data-original-title="Retourner à l'accueil"><i class="icon-home"></i> Accueil</a>
	<a href="#" navigation-section="Suggestion">Suggestions</a>
	<a href="#" class="current">
		<span data-bind="visible: suggestion.isAdding">Nouvelle suggestion</span>
		<span data-bind="invisible: suggestion.isAdding">Modification de la suggestion</span>
	</a>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form id="suggest-form-edition" name="suggest-form" class="form-edition form-horizontal" data-bind="with: suggestion.editedItem">
				<input type="hidden" name="id" data-bind="value: id" />
				<fieldset>
				    <legend class="ui-helper-hidden">Titre, Catégorie, Description & Tags</legend>

				    <div class="control-group">
				      <label class="control-label" for="title">Titre*</label>
						<div class="controls">
						  <input class="span10" name="title" placeholder="Titre de la suggestion" required="required" maxlength="256" type="text" data-bind="value: title" />
						</div>
				    </div>
					
					<div class="control-group alternate">
				      <label class="control-label" for="description">Description*</label>
						<div class="controls">
						  <input class="span10" name="description" placeholder="Description de la suggestion" required="required" maxlength="512" type="text" data-bind="value: description" />
						</div>
				    </div>
				    
				    <div class="control-group">
						<label class="control-label" for="notes">Notes</label>
						<div class="controls">
					      <textarea class="span10" name="notes" placeholder="Notes" maxlength="1024" type="text" data-bind="value: notes"></textarea>
					      <span class="help-block ui-priority-secondary">Informations complémentaires.</span>
						</div>
					</div>
					
				    <div class="control-group alternate">
				      <label class="control-label" for="tags">Tags</label>
						<div class="controls">
							<input type="text" name="tags" class="span10 tags" data-bind="jqTags: { tags: tags }">
					      	<span class="help-block ui-priority-secondary">Entrez vos mot clé en les validant avec <b>Entrée</b>.</span>
						</div>
				    </div>
			</fieldset>
			    
			<fieldset>
				    <legend class="ui-helper-hidden">SEO</legend>
				    
				    <div class="control-group">
					<label class="control-label" for="seotitle">URL Simplifiée</label>
					<div class="controls">
						<input class="span10 input-xlarge notPlaceholder" name="friendlyUrl" placeholder="URL simplifiée (exemple: titre-de-l-evenement)" maxlength="256" type="text" data-bind="value: friendlyUrl"/>
					</div>
				</div>
			</fieldset>  
			
			</form>
		</div>
	</div>
</div>