<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Application configuration section -->
    	<section name="application" type="GMATechProject.Domain.ApplicationConfiguration, GMATechProject.Domain"/>
    	<section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
	</configSections>
	
	<appSettings>
		<!-- Host for the appliation -->
		<add key="Nancy.Host" value="127.0.0.1" />
		<!-- Port for the appliation -->
		<add key="Nancy.Port" value="9999" />
		<!-- Whether to use concatenated resources (CSS, Scripts) -->
		<add key="UseConcatenatedResources" value="false" />
		<!-- The version of the resources (Change value to force the browser to reload the resources instead of using cache) -->
		<add key="ClientVersion" value="1.00" />
	</appSettings>
	
	<razor disableAutoIncludeModelNamespace="false">
		<assemblies>
			<add assembly="GMATechProject.Domain" />
		</assemblies>
		<namespaces>
			<add namespace="GMATechProject.Domain" />
		</namespaces>
	</razor>
	
	<application 
		AddressForEmailFromSystem="nepasrepondre@qginformatique.fr"
		NameForEmailFromSystem="WebMaster"
		ApplicationName="GMATechProject" />
	
	<connectionStrings>
		<add 
			name="MongoServerSettings" 
			connectionString="mongodb://localhost/test2?safe=true" />
	</connectionStrings>
	
	<system.net>
		<mailSettings>
			<smtp from="Qginformatique.fr &lt;nepasrepondre@qginformatique.fr&gt;" deliveryMethod="Network">
				<specifiedPickupDirectory pickupDirectoryLocation="D:\FibreSudEmails" />
				<!--<network host="king.o2switch.net" port="26" userName="nepasrepondre@fibresud.org" password="tbrRTNIMU3zb" defaultCredentials="false" />-->
				<!--<network host="in.mailjet.com" port="465" userName="54754454ec8af62ef3adc2dbd96a2cfc" password="c7220a5205832a0307c1b8f869d5e089" defaultCredentials="false" enableSsl="true" />-->
				<network host="in.mailjet.com" port="587" userName="54754454ec8af62ef3adc2dbd96a2cfc" password="c7220a5205832a0307c1b8f869d5e089" defaultCredentials="false" />
			</smtp>
		</mailSettings>
		<settings>
			<httpWebRequest 
				maximumResponseHeadersLength="-1" 
				maximumErrorResponseLength="-1" 
				maximumUnauthorizedUploadLength="-1" 
				useUnsafeHeaderParsing="false" 
			/>
		</settings>
	</system.net>
	
	<system.web>
		<!-- File upload size limit: 21 Mo -->
    	<httpRuntime maxRequestLength="21504"/>
	</system.web>
	
	<system.webServer>
		<requestFiltering> 
			<requestLimits maxAllowedContentLength="4294967295" /> 
		</requestFiltering> 
	</system.webServer>
</configuration>