<div class="flexslider">
  <ul class="slides">
	<li data-href="#">
		<img src="/Resources/images/slide1.jpg" />
		<p class="flex-caption">GMATech - Logiciel de gestion commerciale pour les professionnels de l'automobile</p>
	</li>
  </ul>
</div>